<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <%- include('partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-dark">
    <!--DO NOT MODIFY ORIGINAL FILE-->
        <%- include('partials/navbar.ejs') %>
    <main class="container-lg p-1 my-1 bg-dark">
        <h1 class="text-center display-1">Mis Clases</h1>
        <div class="container-sm p-5">
            <h1 class="text-center">Todos los links redirigen a mi<br><a href="https://www.youtube.com/@ezbiochem-lf4bn"><i class="bi bi-youtube text-danger"></i> Canal de Youtube <i class="bi bi-youtube text-danger"></i></a></h1>
        </div>
        <div class="row themes row-gap-5 column-gap-3 justify-content-center">
            <% data.forEach(videoList => {     %>
                <a class="border border-5 border-light col-8 col-md-3 card p-0 bg-dark link-light link-opacity-75 link-opacity-100-hover link-underline-opacity-0 link-underline-opacity-50-hover" href="<%= videoList.dbId %>">
                    <div class="card-header h-50">
                        <h3 class="text-center">
                            <%=  videoList["name"] %>
                        </h3>
                    </div>
                    <div>
                        <img class="img-fluid" src="<%=  videoList['thumbnail']    %>" alt="<%=  videoList['name'] %>">
                    </div>
                </a>
            <% })  %>
        </div>
        
       
    </main>
    <%-  include("partials/footer.ejs")   %>
</body>
</html>